# Node and environment
node_modules/
.env

# Ignore all images and large files
images/
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.tif
*.tiff
*.bmp
*.svg
*.psd
*.raw
*.heic
*.JPG
*.JPEG
*.PNG
*.GIF
*.WEBP
*.TIFF
*.BMP
*.SVG
*.PSD
*.RAW
*.HEIC
*.mp4
*.mov
*.avi
*.mkv
*.zip
*.tar
*.gz
*.7z
*.rar
*.dmg
*.iso
